a {
  text-decoration: none !important;
}

a:link.disabled, a:visited.disabled, a:hover.disabled, a:active.disabled {
  color: gray;
}

#drop-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 96px 0;
  text-align: center;
  font-size: 24px;
  /*font: 26px bold 'Vollkorn';*/
  color: #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 240px;
  margin: -120px 0px 0px -225px;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -5px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -5px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.material-switch > label.label-primary {
  background: #428bca;
}

.description-area {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  color: dimgray;
  z-index: 100;
  display: none;
}
